* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    box-sizing: border-box;
}

/*HEADER*/

header {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #00ADB5;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    text-decoration: none;
    margin: 5% auto;    
    border-radius: 8px;
    background: white;
    padding: 2%;
    width: 20%;
    color: #058086;
}

.nav-links:hover {
    box-shadow:  0 0 8px #033a3d;
    /* border-radius: 8px; */
}

.nav-button > a {
    text-decoration: none;
    color: #00ADB5;
    font-weight: bolder;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*MAIN CONTENT*/
main {
    height: fit-content;
    width: 100%;
    padding: 2vh;   
    background: white;
    font-size: 120%;
    color: #03858b;
}

/*FOOTER*/
footer {
    width: 100%;
    margin-top: 2vh;
    padding: 2vh;
    background: #393E46;
    color: white;
}

footer > a {
    text-decoration: none;
    color: #03858b;
    font-weight: bold;
}