* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
}

/*HEADER*/

header {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #00ADB5;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

/*NAVIGATION LINKS*/
.nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    text-decoration: none;
    margin: 5% auto;    
    border-radius: 8px;
    background: white;
    padding: 2%;
    width: 20%;
    color: #058086;
}

.nav-links:hover {
    box-shadow:  0 0 8px #033a3d;
}


/*MAIN CONTENT*/
.main {
    height: 100vh;
    width: 100%;   
    background: white;
    color: #03858b;    
    font-size: 1.5em;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.content > a {
    width: 50%;

}

.content > p {
    width: 50%;
    margin: auto;
    font-size: 3rem;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.main-nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

.main-nav-links {
    text-decoration: none;
    margin: 5% auto;    
    border-radius: 8px;
    background: #058086;
    padding: 2%;
    width: 20%;
    color: white;
}

.main-nav-links:hover {
    box-shadow:  0 0 8px #033a3d;
}


/*VIDEO*/
#myVideo {
    border-radius: 8px;
    transition: 1s;
    border: 2px solid #058086;
}

#myVideo:hover {
    transform: scale(1.2) translateX(-20%) translateY(10%);
}
#myVideo2 {
    border-radius: 8px;
    transition: 1s;
    border: 2px solid #058086;
}

#myVideo2:hover {
    transform: scale(1.2) translateX(-20%) translateY(10%);
}

/*FOOTER*/
footer {
    width: 100%;
    padding: 2vh;
    background: #393E46;
    color: white;
}

footer > a {
    text-decoration: none;
    color: #03858b;
    font-weight: bold;
}