html.dark * {
  background-color: #0d0950;
  color: #fff;
}

html.dark .side {
  border: 1px solid white;
}

html.dark .project {
  border: 1px dashed white;
}

html.dark li {
  border: 1px dashed white;
}

html.dark #profile-photo {
  border: 2px solid white;
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 2.5rem;
}

.card {
  display: flex;
  justify-content: center;
}

/*Navigation links*/

.nav-links a {
  display: inline-block;
  padding: 1rem 5px;
  font-size: 1.3rem;
}

/*Blog posts*/
ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  border: 1px dashed purple;
  border-radius: 5px;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: purple;
}

/*ASIDE*/
.side {
  margin-top: 5rem;
  font-size: 1.2rem;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 1rem;
}
.side p {
  margin: 0;
}
aside {
  width: 100%;
  color: red;
}

.single-post {
  font-size: 1.5rem;
}

.single-post p {
  font-size: 1rem;
  margin: 0.2rem 0;
}

/*Github Projects*/
.projects {
  display: flex;
  justify-content: left;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 5rem 2rem;
}

.project {
  font-size: 1.5rem;
  border: 1px dashed purple;
  border-radius: 5px;
  padding: 1rem;
}

.project > p {
  font-size: 1rem;
  margin: 0.2rem 0 0 0;
}
/*Github ProjectsEnd*/

/*Profile photos*/

#profile-photo {
  shape-outside: circle();
  float: left;
  margin: 2rem;
  border: 2px solid purple;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 1rem 20px;
    font-size: 1.5rem;
  }
  /*Aside */
  .side {
    position: absolute;
    top: 6rem;
    right: 1rem;
    padding: 0.2em 1rem;
    font-size: 1.2rem;
    border: 1px solid purple;
    border-radius: 5px;
  }
  .side p {
    margin: 0;
  }

  #profile-photo {
    margin-left: 2rem;
    margin-top: 2rem;

    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
