---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <img id="profile-photo" src="/images/profile.jpg" alt="profile" />
  <p style={{ fontSize: "1.2rem", paddingTop: "2.2rem" }}>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab fugiat
    distinctio suscipit eum, qui placeat. Quidem, placeat reiciendis! Neque
    iste, atque expedita molestias voluptatum magnam, architecto nemo earum
    porro cupiditate doloremque voluptates. Expedita maiores, hic minima
    repudiandae libero eligendi nulla accusantium unde asperiores laudantium
    quas obcaecati velit aperiam doloribus autem esse voluptas aspernatur
    perspiciatis alias dignissimos. Minima necessitatibus saepe hic nam commodi
    quasi suscipit quam mollitia repellendus debitis officia at nobis, expedita
    soluta explicabo ipsa, quod possimus nesciunt! Consectetur, quam! Ipsam
    assumenda culpa dolorum, dolorem nemo ipsa. Facere maxime, ea voluptates
    molestiae in nulla ipsam numquam esse quis earum harum obcaecati explicabo
    ratione? Quae dolores quos ad illo deleniti. Ipsa qui deserunt perferendis
    sapiente vitae obcaecati! Ad esse odit eum distinctio voluptatum quae
    quidem. Laborum dignissimos non accusantium voluptates dolorum. Eos, sequi
    quam. Magnam adipisci voluptatem nesciunt error architecto iste suscipit
    neque iure provident tempore voluptate ullam molestiae doloribus, libero
    nobis sunt id vel ratione eaque beatae modi quidem dolorum fugit sed.
    Libero, porro magnam earum sequi sapiente laborum culpa? Nesciunt velit
    illum, voluptatibus vitae eum enim explicabo optio corrupti impedit omnis
    repudiandae ducimus rem a voluptate sint molestias odit hic quidem,
    consequatur culpa, mollitia est animi incidunt. Adipisci sunt explicabo
    aliquid eum ab deserunt incidunt iste eius delectus facere odio cum ipsum
    illo magnam unde sapiente, inventore aperiam non voluptatibus expedita, in
    mollitia autem itaque consequuntur. Ullam quos neque itaque eum quis ut
    harum repellendus rem at fugit nam, consequatur nisi tenetur veritatis
    recusandae. Dolore, voluptatum. Consectetur sed tempore explicabo est
    aliquam facilis aut vero esse ducimus quia, vitae adipisci. Aut error
    incidunt numquam, cumque accusantium, earum similique, unde voluptate
    nostrum laboriosam aspernatur excepturi a modi? Commodi natus magnam
    molestias laborum eum repellat reiciendis. Modi veritatis, fugit accusamus
    neque culpa blanditiis sunt! Officiis assumenda nemo aliquam a tenetur alias
    id hic optio animi labore debitis ipsam doloribus molestiae ut voluptatibus
    perferendis sit tempore nihil, distinctio non voluptas unde! Ad
    reprehenderit at unde officia id aliquid, alias, voluptatem voluptatum
    incidunt omnis deserunt possimus deleniti maiores adipisci placeat animi
    enim ullam quam consectetur ex provident. Odit fugit, saepe non quia natus,
    repellat assumenda earum obcaecati, similique officia cumque consequatur
    dolorum pariatur accusantium quo quidem consectetur odio neque cupiditate
    architecto a vero ipsum quos sequi! Quos maiores inventore, vel minima
    distinctio quo, aperiam iusto dolore iste commodi sed quisquam doloremque
    cupiditate voluptates molestias, ut beatae facilis saepe voluptatum?
    Reprehenderit, odio cum dignissimos modi, veritatis consequatur delectus
    atque eum, fugiat consectetur quo adipisci vel quis natus. Dicta provident
    ea amet molestias iure sequi quaerat minus exercitationem? Et facilis
    eligendi quas eos molestiae provident, omnis perferendis quaerat incidunt
    nemo vitae esse inventore? Maxime consequuntur tempora quia voluptate modi
    nemo porro magni architecto ipsam hic culpa sunt, est alias totam voluptates
    accusamus fugiat praesentium repudiandae, laborum officia. Dolor omnis,
    minima soluta voluptate, veritatis laboriosam mollitia repellat molestias
    quisquam exercitationem ipsum commodi quis tempora aut? Asperiores nihil
    laboriosam, numquam, quaerat officia consectetur saepe, voluptatum sequi
    harum aut provident. Error facilis rerum perferendis tempore illum maiores?
    Doloremque?
  </p>
</Layout>
