---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <img id="profile-photo" src="/images/profile.jpg" alt="profile" />
  <p>
    My name is Mikayil and I am passionate about technology and programming.
  </p>
</Layout>

<style>
  p {
    font-size: 1.2rem;
    padding-top: 1.2rem;
  }
  img {
    shape-outside: circle();
    float: left;
    margin: 2rem;
  }
</style>
