---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
---
<Layout title={pageTitle}>
  <h1>Blog posts archive</h1>
  <ul style={{listStyleType: 'none'}}>
    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}<br/>
      <p>published: {post.frontmatter.pubDate?.slice(0, 10)}</p>
      <p>decription: {post.frontmatter.description}</p></a></li>)}
  </ul>
</Layout>

<style>
  a {
    color: rgb(34, 5, 34);
    text-decoration: none;
  }
</style>