---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<Layout title={pageTitle}>
  <h1>Blog posts archive</h1>
  <ul style={{ listStyleType: "none" }}>
    {
      allPosts.reverse().map((post) => (
        <li>
          <a href={post.url} class="single-post">
            {post.frontmatter.title}
            <p>{post.frontmatter.pubDate?.slice(0, 10)}</p>
            <p>{post.frontmatter.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
