---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Home">
  <main>
    <img id="profile-photo" src="/images/profile.jpg" alt="profile" />
    <div class="side">
      <p style={{ fontSize: "1.5rem" }}>Latest in Blog:</p>
      <aside>
        <a href={allPosts.reverse()[0].url}>Latest post</a>
      </aside>
    </div>
  </main>
</Layout>
