---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
const pageTitle = "My Astro Learning Blog";
---
<Layout title={pageTitle}>
<div class="projects">
    <div class="project">
        <a href="https://github.com/mikailaliyev/calculator">Calculator</a>
        <p>Tech stack: HTML5&CSS3, Vanilla JS</p>
    </div>
    <div class="project">
        <a href="https://github.com/mikailaliyev/palindrome-checker">Palindrome Checker</a>
        <p>Tech stack: HTML5&CSS3, Vanilla JS</p>
    </div>
    <div class="project">
        <a href="https://github.com/mikailaliyev/ip-detector">IP Detector</a>
        <p>Tech stack: HTML5&CSS3, ReactJS, TypeScript</p>
    </div>
</div>
</Layout>
