---
---

<div>
  <a href="/">Index</a>
  <a href="/about">About</a>
</div>

<style>
  a {
    text-decoration: none;
    color: rgb(163, 11, 163);
    font-size: 1.2rem;
  }

  a:visited {
    color: rgb(54, 5, 54);
  }

  div {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
</style>
