---
import ThemeIcon from "./ThemeIcon.astro";
---

<div>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
  </div>
  <ThemeIcon />
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
</style>
