---
---

<div>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
</div>

<style>
  a {
    font-size: 1.2rem;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
</style>
